.profile-container {
    font-family: Arial, sans-serif;
    width: 390px;
    margin: 20px auto;
    margin-left: -30px;
  }
  
  .section {
    background-color: white;
 
   
    padding: 20px;
    margin-bottom: 10px; 

  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .section-header h2 {
    font-size: 1.2em;
    color: #333;
    margin: 0;
  }
  
 
  
  .section p, .section ul {
    margin: 0;
    font-size: 0.9em;
    color: #555;
  }
  .section ul {
    list-style: none;
    padding: 0;
  }
  
  .section ul li {
    margin-bottom: 5px;
  }
  
  .section .description p {
    font-size: 0.9em;
  }
  
  .section .education p {
    color: #999;
  }
  
