.profile-container {
    font-family: Arial, sans-serif;
    width: 390px;
    margin: 20px auto;
    margin-left: -30px;
  }
  
  .section {
    background-color: white;
 
   
    padding: 20px;
    margin-bottom: 10px; 

  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .section-header h2 {
    font-size: 1.2em;
    color: #333;
    margin: 0;
  }
  
  .edit-button, .add-button {
    background-color: transparent;
    border: none;
    color:white;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9em;
    height: 40px;
    border-radius: 10px;
    width: 110px;
    margin-left: 40px;
    background-color:rgb(41, 213, 107) ;
  }
  
  .edit-button:hover, .add-button:hover {
    text-decoration: underline;
  }
  
  .section p, .section ul {
    margin: 0;
    font-size: 0.9em;
    color: #555;
  }
  .section ul {
    list-style: none;
    padding: 0;
  }
  
  .section ul li {
    margin-bottom: 5px;
  }
  
  .section .description p {
    font-size: 0.9em;
  }
  
  .section .education p {
    color: #999;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
   margin-left: 20px;
   margin-top: 20px;
    width: 80%;
  }  